/*General rules*/
body {
  background-color: #f5f5f5;
  color: #1e1c21;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: arial;
  font-size: 12px;
}
body .form-control {
  font-size: 13px;
}
body .form-control:focus {
  background-color: #EFFBFF;
  border-color: #7b96ca;
}
body .form-check {
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  color: #777777;
  padding: 0 5px;
  margin-right: 7px;
  margin-bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
}
body .form-check .form-check-input {
  position: relative;
  margin: 0 2px 0 0;
  cursor: pointer;
}
body .form-check .form-check-label {
  cursor: pointer;
  font-size: 11px;
  font-weight: normal;
  padding: 4px 3px;
  margin-bottom: 0 !important;
}
body input[type=checkbox],
body input[type=checkbox] + label {
  cursor: pointer;
}
body .refresh-add {
  margin-bottom: 18px;
}
body .refresh-add .refresh {
  cursor: pointer;
  height: 20px;
  margin-right: 8px;
  width: 20px;
  background-image: url("../images/refresh.png");
  background-repeat: no-repeat;
}
body .default-palettes {
  font-size: 12px;
  margin: 3px 0 0 2px;
}
body .default-palettes .form-check label {
  margin-bottom: 0;
}
body .default-palettes ul {
  background-color: #ffffff;
  border: 1px solid #bfc4ce;
  display: none;
  height: 200px;
  margin: 0 0 0 6px;
  overflow: auto;
  position: absolute;
  width: 180px;
  z-index: 4;
}
body .default-palettes ul li {
  cursor: pointer;
  padding: 8px 0 4px 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d8dfea;
  display: block;
  margin-bottom: 1px;
}
body .default-palettes ul li:hover {
  background-color: #fff8cc;
  border-color: #ffe222;
}
body .default-palettes ul li.selected {
  background-color: #ebecef;
  border-color: #bfc4ce;
}
body .default-palettes ul span {
  border: 1px solid #bfc4ce;
  display: inline-block;
  height: 18px;
  margin-right: 4px;
  width: 18px;
  top: 0;
}
body .default-palettes ul .dropdown {
  float: left;
  padding: 0 0 4px 0;
  z-index: 4;
}
body .default-palettes ul .dropdown span {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #777777;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-right: 3px;
  padding: 2px 9px;
  position: relative;
  top: 2px;
}
body .default-palettes .current-palette, body .default-palettes .preview-swatch-color-bg {
  display: inline-block;
  position: relative;
  margin-bottom: -1px;
  background-color: #FFF;
  padding: 6px 2px 4px 8px;
  border-bottom-width: 0;
}
body .default-palettes .current-palette.selected, body .default-palettes .preview-swatch-color-bg.selected {
  border-color: #666666;
  -moz-box-shadow: inset 0px 0px 0px 2px #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ffffff;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}
body .default-palettes .current-palette span, body .default-palettes .current-palette .preview-swatch-color, body .default-palettes .preview-swatch-color-bg span, body .default-palettes .preview-swatch-color-bg .preview-swatch-color {
  font-size: 20px;
  height: 20px;
  width: 20px;
  box-shadow: inset 0 0 0 1px #fff;
  border: 1px solid #BFC4CE;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
}
body .color-picker {
  clear: both;
  display: none;
  position: absolute;
  top: 35px;
  z-index: 8;
}
body .color-container .form-check {
  background-color: #ededed;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  margin-right: 8px;
  padding: 4px 5px;
}
body .color-container .form-check label {
  font-size: 11px;
  color: #777;
  text-shadow: 1px 1px 0 #f8f8f8;
  font-weight: normal;
}
body .ui-corner-all {
  border-radius: 6px !important;
}
body .ui-widget-content {
  border: 1px solid #5283D9;
  background-color: #B6D6ED;
  color: #222;
}
body .ui-widget {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1.1em;
}
body .ui-slider-horizontal {
  height: 9px;
}
body .ui-slider {
  position: relative;
  text-align: left;
}
body .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
body .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
body .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
body .ui-widget-header {
  border: 1px solid #4297d7;
  background-color: #5c9ccc;
  color: #fff;
  font-weight: 700;
}
body .ui-state-default, body .ui-widget-content .ui-state-default, body .ui-widget-header .ui-state-default {
  border: 1px solid #375994;
  background-color: #fff;
  font-weight: 700;
  color: #2e6e9e;
}
body .ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
body .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 15px;
  height: 15px;
  border-radius: 50% !important;
  cursor: default;
}

.h2 {
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .h2 {
    font-size: 1.5rem;
  }
}

/*start main section*/
.main-section {
  padding: 0 25px;
  border-left: 1px solid #e1e1e1;
  height: 100vh;
  overflow-y: auto;
}
@media (max-width: 767.98px) {
  .main-section {
    border-radius: 5px;
    border: 1px solid #e1e1e1;
  }
}
.main-section .title {
  color: #568eea;
  font-size: 26px;
  font-style: italic;
  margin: 20px 10px;
  text-shadow: 1px 1px 0 #fff;
  font-weight: bold;
}
.main-section .preview {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  position: relative;
  padding: 15px;
}
.main-section .preview .preview-area {
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  height: 230px;
  width: 100%;
}
.main-section .step-two-three {
  margin-top: 30px;
}
.main-section .step-two-three h5 {
  font-weight: bold;
}
.main-section .step-two-three textarea.form-control {
  height: 220px;
  background-color: #fcfcfc;
  color: #444;
  font-size: 13px;
}

/*end main section*/
/*start settings*/
.settings {
  background-color: #ffffff;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 18px 20px;
}
@media (max-width: 767.98px) {
  .settings {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
  }
}
.settings .form-group {
  margin-bottom: 0.75rem;
}
.settings label {
  font-size: 12px;
}
.settings select {
  background-color: #fcfcfc;
  border-color: #bbbbbb #dddddd #eeeeee;
  border-style: solid;
  border-width: 1px;
  color: #444;
  font-family: arial;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 2px;
  width: 100%;
  min-height: 13px;
}
.settings select:focus {
  background-color: #EFFBFF;
  border-color: #7b96ca;
}
.settings .setting-slider,
.settings .setting-shadow,
.settings .setting-shadow-blur {
  margin: 13px 0 5px;
  width: 100%;
}
.settings .setting-input {
  border: 0;
  color: #F6931F;
  width: 40px;
  margin: 0;
  font-weight: 700;
  font-size: 13px;
}
.settings .setup-one .form-control {
  height: 100%;
  padding: 3px 8px;
}
.settings .setup-one label {
  margin-bottom: 0.25rem;
}
.settings .setup-one h5 {
  font-weight: bold;
}
.settings .setup-one .setting-title {
  border-radius: 6px;
  background-color: #eee;
  border: 1px solid #ddd;
  margin: 10px 0 15px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 13px;
}
.settings .setup-one .settings-text {
  padding-bottom: 15px;
}

/*end settings*/

/*# sourceMappingURL=main.css.map */
