%position {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner-loading {
  @extend %position;
  background-color: rgba(white, 0.7);

  img {
    @extend %position;
    width: 150px;
    height: 150px;
    margin: auto;
    @media (max-width: 575.98px) {
      width: 75px;
      height: 75px;
    }
  }
}
